ul,li{margin: 0;padding: 0;}
.content{
	width: 1206px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}
.cont_left{
	float: left;
	width: 175px;
	height: 100%;
	border-right: 1px solid #eaeaea;
	background-color: #fff;
}
/*左侧导航栏css样式设置*/
.cont_left ul{
	width: 100%;
}
/*一级菜单样式*/
.cont_left ul li{
	width: 100%;
	/*padding-left: 10%;*/
	list-style: none;
	font:16px/60px "微软雅黑";
	color: #333;
	overflow: hidden;zoom: 1;
}
/*一级菜单左侧小图标*/
.cont_left ul li span{
	display: block;
	float: left;
	height: 60px;
	background: url(../imgs/icon_03.jpg) left center no-repeat;
	padding-left: 30px;
	margin-left: 15px;
	}
.cont_left ul li:nth-of-type(2) span{
	background: url(../imgs/icon_08.jpg) left center no-repeat;
}
.cont_left ul li:nth-of-type(3) span{
	background: url(../imgs/icon_10.jpg) left center no-repeat;
}
.cont_left ul li:nth-of-type(4) span{
	background: url(../imgs/icon_12.jpg) left center no-repeat;
}
.cont_left ul li:nth-of-type(5) span{
	background: url(../imgs/icon_03.jpg) left center no-repeat;
}
/*一级菜单右侧小图标*/
.cont_left ul li i{
	display: block;
	float: right;
	width: 10px;height: 18px;
	margin-top: 21px;
	background: url(../imgs/icon_16.jpg);
	margin-right: 5%;
	}
/*二级菜单样式*/
.cont_left li ul{
	width: 100%;
}
.cont_left li ul li{
	width: 130px;
	padding-left: 45px;
	font:12px/36px "微软雅黑";
	color: #666;
	cursor: pointer;
}
/*hover效果*/
.cont_left ul li li:hover{
	background-color: #f5f9fc;
	color: red;
}


<<<<<<< HEAD
=======
/* 通过编号id查询图书样式 */

>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
/*右侧内容大盒子*/
.cont_right{
	float: right;
	width: 950px;
	background-color: #fff;
	margin-top: 40px;
}
/*通过作者查询图书信息*/
<<<<<<< HEAD
#search_byAuthor{
	display: none;
}
.search_author{
=======
.search_id{
>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
	width: 950px;
	background-color: #f5f9fc;
}
/*搜索框*/
<<<<<<< HEAD
.author_find{
=======
.id_find{
>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
	height: 78px;
	width: 928px;
	padding-left: 20px;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	background-color: #fff;
}
<<<<<<< HEAD
.author_find h3{
	width: 100%;height: 36px;
	font: 14px/36px "微软雅黑";
	font-weight: 500;
}
.author_find p{
=======
.id_find h3{
	width: 100%;
	height: 36px;
	font: 14px/36px "微软雅黑";
	font-weight: 500;
}
.id_find p{
>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
	width: 300px;height: 28px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font: 14px/28px "微软雅黑";
}
<<<<<<< HEAD
.author_find p input{
=======
.id_find p input{
>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
	float: left;
	border: 0;height: 28px;
	width: 250px;
	padding-left: 10px;
	outline: none;
}
<<<<<<< HEAD
.author_find p button{
	float: left;
	border: 0;height: 28px;
	width: 40px;
	background-color: #ed5564;
	color: #fff;
	outline: none;
}
/*通过作者查询图书信息结果显示*/
.author_cont{
	width: 100%;
	margin-top: 20px;
}
.author_cont table{
	width: 100%;
}
.author_cont table th{
	height: 50px;
	background-color: #f1f1f1;
	color: #666;
}
.author_cont table td{
	background-color: #fff;
	text-align: center;
	height: 79px;
	border-bottom: 1px solid #ededed;
	color: #919191;
	font-size: 14px;
}
/*查询学生信息样式*/
.stuMess{
	width: 100%;
}
.stu_findway{
	width: 100%;
}
.stu_findway ul{
	height: 36px;
}
.stu_findway ul li{
	float: left;
	padding: 0 25px;
	list-style: none;
	font: 14px/36px "微软雅黑";
	background-color: #f1f1f1;
	border-right: 1px solid #fff;
}
.stu_findway li input{
	height: 20px;width: 235px;
	border: 1px solid #EAEAEA;
	border-radius: 4px;
}
.stu_findway ul li:hover{
	background-color: #fff;
}
=======
.id_find p button{
	float: left;
	border: 0;height: 28px;
	width: 40px;
	background-color: #0180cd;
	color: #fff;
	outline: none;
}
.con-book{
	margin-top: 25px;
	background: #fff;
}
.con-book table{
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	color: #8c8c8c;
}
.con-book table tr{
	width: 8%;
	line-height: 80px;
	text-align: center;
}
.con-book table thead{
	background: #f1f1f1;	
}
.con-book table thead tr{
	line-height: 50px;
	font-size: 14px;
	color: #333;
	font-weight: 500;

}
>>>>>>> a6fb55e9cc2b5fa6c757b177c16e50fb6607ed75
